html,
body{
    margin: 0;
    height: 100%;
    font: 16px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

img.door {
  border: 1px solid white;
  border-radius: 4px;
  padding: 5px;
}

img.door-selected{
  border: 1px solid #264653;
  border-radius: 4px;
  padding: 5px;
}

img.door-open{
  border: 1px solid white;
  border-radius: 4px;
  padding: 5px;
}

img.door:hover {
  box-shadow: 0 0 1px 1px #2A9D8F;

}

button {
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
}

button.select-door{
  background-color: #264653;
  color: white;
}

button.new-game{
  background-color: #E76F51;
  color: white;
}

.game{
    width: 60%;
    float: left;
}

table{
    border-collapse: collapse;
}

td, th {
    border: 1px solid white;
    width: 4rem;
    height: 2rem;
    padding: 0.5rem;
    text-align: center;
}

th {
    background: #2A9D8F;
    border-color: white;
    color: white;
}

.conf-matrix{
    width: 20%;
    float: left;
}

.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 75px;
    background-color: #2A9D8F;
}

a {
    color: white;
}

